[Unit]
Description=Rails background jobs (DelayedJob)
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile={{ deploy_root_path  }}/shared/.env
WorkingDirectory={{ deploy_root_path  }}/current
ExecStart=/bin/bash -lc 'bundle exec rails jobs:work'
User={{ deploy_user  }}
UMask=0002
RestartSec=1
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rails_job_worker_%i

[Install]
WantedBy=multi-user.target
