[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ user  }}
Group={{ group  }}
UMask=0002
WorkingDirectory={{ root_path  }}/current
EnvironmentFile={{ root_path  }}/shared/.env
ExecStart=/home/{{ user }}/.rbenv/bin/rbenv exec bundle exec puma -C {{ root_path  }}/shared/config/puma.rb
ExecStop=/home/{{ user }}/.rbenv/bin/rbenv exec bundle exec pumactl -S {{ root_path  }}/shared/tmp/pids/puma.state stop
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target