[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ deploy_user  }}
WorkingDirectory={{ deploy_root_path  }}/current
EnvironmentFile={{ deploy_root_path  }}/shared/.env
ExecStart=/home/{{ deploy_user }}/.rbenv/bin/rbenv exec bundle exec puma -C {{ deploy_root_path  }}/shared/config/puma.rb
ExecStop=/home/{{ deploy_user }}/.rbenv/bin/rbenv exec bundle exec pumactl -S {{ deploy_root_path  }}/shared/tmp/pids/puma.state stop
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target